name: 'Sanity Blueprints Deploy Action'
description: 'Deploy Sanity blueprints using the @sanity/runtime-cli'
branding:
  icon: 'upload-cloud'
  color: 'blue'

inputs:
  sanity-token:
    description: 'Sanity API token with deploy permissions'
    required: true
  project-id:
    description: 'Sanity project ID (required if organization-id is not provided)'
    required: false
  organization-id:
    description: 'Sanity organization ID (required if project-id is not provided)'
    required: false
  stack-id:
    description: 'Blueprint stack ID to interact with'
    required: true
  working-directory:
    description: 'Working directory that contains your blueprints and functions'
    required: false
    default: '.'

outputs:
  deployment-status:
    description: 'Status of the deployment'
    value: ${{ steps.deploy.outputs.status }}

runs:
  using: 'composite'
  steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '24'

    # checkout above will lose reference to node_modules in CI
    # this step ensures we have the dependencies we need
    - name: Install dependencies
      shell: bash
      run: |
        npm install @sanity/blueprints @sanity/functions

    - name: Validate inputs
      shell: bash
      run: |
        if [ -z "${{ inputs.organization-id }}" ] && [ -z "${{ inputs.project-id }}" ]; then
          echo "‼️Missing either a \`project-id\` or an \`organization-id\`."
          exit 1
        fi

    - name: Deploy blueprints
      id: deploy
      shell: bash
      working-directory: ${{ inputs.working-directory || '.' }}
      env:
        SANITY_AUTH_TOKEN: ${{ inputs.sanity-token }}
        SANITY_BLUEPRINT_STACK_ID: ${{ inputs.stack-id }}
        SANITY_ORGANIZATION_ID: ${{ inputs.organization-id }}
        SANITY_PROJECT_ID: ${{ inputs.project-id }}
      run: |
        echo "Starting Sanity Blueprints deployment..."
        
        npx -y @sanity/runtime-cli blueprints deploy
        
        echo "✅ Blueprints deployed successfully!"
        echo "status=success" >> $GITHUB_OUTPUT
