name: 'Manual Blueprint Deployment Action'
on:
  workflow_dispatch:

# set staging flag to always hit sanity.work
# can leverage input in the future to toggle between staging and prod
env:
  SANITY_INTERNAL_ENV: 'staging'

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci
        working-directory: ./tests

      - name: Deploy Blueprint to sanity.work
        uses: ./
        with:
          sanity-token: ${{ secrets.SANITY_TOKEN }}
          stack-id: ${{ secrets.STACK_ID }}
          project-id: ${{ secrets.PROJECT_ID }}
          organization-id: ${{ secrets.ORGANIZATION_ID }}
          working-directory: "./tests"

