name: Test Action
on: pull_request

env:
  SANITY_INTERNAL_ENV: 'staging'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Running integration test for Sanity Blueprints Deployment Action"

      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm ci
        working-directory: ./tests

      - name: Integration Test - Deploy Staging Blueprint
        uses: ./
        with:
          sanity_token: ${{ secrets.SANITY_TOKEN }}
          stack_id: ${{ secrets.STACK_ID }}
          project_id: ${{ secrets.PROJECT_ID }}
          organization_id: ${{ secrets.ORGANIZATION_ID }}
          working_directory: "./tests"
